.container {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;


}

* {
  margin: 0;
  box-sizing: border-box;
}

.c1 {
  border-color: black;

  border-radius: 25px;


}

.header {
  display: flex;
  justify-content: space-between;
  border-collapse: collapse;
  align-items: center;
  width: 100vw;
  padding: 10px;
  background-color: rgb(233, 239, 245);
  position: fixed;



}

.header h1 {
  
  color: rgb(15, 15, 16);
  padding-left: 50px;
  font-family: Madefor-Display, Madefor Display, Helvetica Neue, Helvetica, Arial, メイリオ, Meiryo, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro W3, Hiragino Kaku Gothic Pro, sans-serif !important;
}

.menu ul {
  display: flex;



}

.menu ul li a {
  color: black;
  text-decoration: none;
  font-size: large;
  margin: 10px;
  transition-duration: 0.2s;
  





}

.menu ul li a:hover {
  font-size: larger;
  color: rgb(13, 13, 15);
 

}

.menu ul li {
  list-style: none;
  padding: 14px 20px;



}
.menu ul li:hover {
  border-radius: 50px;
  background-color: rgb(170, 177, 177);
}

.menu ul {
  padding-right: 470px;
}

.row {
  padding: 100px;
  
  
}

.row .box {
  padding: 20px;
  margin: 10px;
}

.footer {
  padding: 20px;
  margin: 0px;
  background-color: black;
  color: white;
  font-size: large;
}





.footer {
  padding: 20px;
  margin: 0px;
  background-color: black;
  color: white;
  font-size: large;
}



#home {


  background-size: cover;
  /* Ensures full coverage */
  background-repeat: no-repeat;
  /* Prevents tiling */
  background-position: center;
  /* Centers the image */
  height: 100vh;
  background-color: rgb(233, 239, 245);
}