.container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    scroll-behavior: smooth;
    height: 100%;
  }

  .header{
    display:flex;
    background-color: black;
    justify-content: space-between;
   
    
    
  }

  .menu ul{
    display: flex;
    
    
  }
  .menu ul li a{
    color: aliceblue;
    text-decoration: none;
    margin: 10px;
    transition-duration: 0.2s;
  
    
  
  }
  .menu ul li a:hover{
    font-size: larger;
  }
  .menu ul li{
    list-style: none;
    padding: 14px 20px;
    
  }

  .row {
    padding: 100px;
    height: 75%;
  }

  .row .box {
    padding: 20px;
    margin: 10px;
  }

  .footer {
    padding: 20px;
    margin: 0px;
    background-color: black;
    color: white;
    font-size: large;
  }

  button {
    background-color: teal;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10%;
  }